# Python Caches & Compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
venv/
.venv/
env/
ENV/
bin/
lib/
include/

# OS specific files
.DS_Store
Thumbs.db

# IDE & Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Model training/logs (optional, but keep models pushed since they are small!)
*.log
.gemini/
*.webp
*.png
